@use '../abstracts/breakpoints' as *;


.ttc-booking-container {

  label {
    display: inline-block;

    &.window-time-label {
      display: block;
    }
  }

  .booking-details {
    display: none;
  }

  #delivery_booking:checked ~ #delivery_details {
    display: block;
  }

  #catering_booking:checked ~ #catering_details {
    display: block;
  }

}

.booking-form {
  .booking-form-container {

    display: grid;
    grid-template-areas:
            'nav'
            'details'
            'notes'
            'uploads';

    .tab-menu {
      grid-area: nav;
    }

    #booking_details {
      grid-area: details;
    }

    #booking_notes {
      grid-area: notes;
    }

    #booking_uploads {
      grid-area: uploads;
    }

    #booking_feed {
      grid-area: feed;
    }

    #booking_note_form {
      grid-area: notes;
    }

    @media only screen and (min-width: $screen_medium) {

      grid-template-areas:
              'details details feed feed'
              'uploads uploads feed feed'
              'uploads uploads notes notes';

      grid-template-rows: auto auto 3em;

      .tab-menu {
        grid-area: details;
        display: none;
      }

      .tab-content {
        display: block;
      }
    }
  }
}

.note_create {

  select.note_type {
    display: none;
  }
  input.note_visibility:checked + select.note_type {
    display: block;
  }
}

#guest{
  &_arrival_time,&_departure_time {
    margin-top: 30px;
  }

  &_arrival_time label,&_departure_time label {
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz';
    color: #309e9a;
  }
  &_arrival_time select,&_departure_time select {
    font-size: 18px;
  }

}

#number-guest-input,#venue-other,#occasion-select {
  font-size: 18px;
}
#venue-select {
  font-size: 18px;
  max-width: 100%;
}
input#catering_datepicker {
  display: none;
}
.flatpickr-calendar.open, .flatpickr-calendar.inline {
  width: 100%;
}