.meal-item {

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  > input[type=radio]:checked {

    ~ h3, ~ .choices {
      display: block;
    }
  }

  > h3, > .choices {
    display: none;
  }

  input[type='radio'] {
    display: none;
  }

  .meal-description{
    display: none;

    p {
      margin: 0;
      position: relative;
      top: 29%;
      padding: 30px;
    }

  }
  input[type='radio']:checked ~ label .meal-description {
    display: initial;
    position: absolute;
    width: 100%;
    left: 0;
    height: 92.5%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
  }

  label {
    position: relative;
  }

  .meal {
    &-name {
      color: #393939;
      font-weight: 600;
      font-size: 30px;
    }
    &-price {
      font-size: 20px;
      color: #309e9b;
      font-weight: bold;
    }
  }
  /*
  .meal-name {

  }
  .meal-price {
    font-size: 20px;
    color: #309e9b;
    font-weight: bold;
  }*/
}

div#plated_meal_order_details {
  margin-top: 20px;

  .plated-meal-order-detail {
    margin-top: 20px;

    &-title {
      font-size: 30px;
      line-height: 1;
      margin-bottom: 0;
    }
/*
    &-content {
      font-size: 20px;
      color: #393939;
      font-weight: 500;
    }
*/


  }
}

.plated-meal-order-detail-content {
  font-size: 20px;
  color: #393939;
  font-weight: 500;
}

.plated-meal-order-detail-title {
  font-size: 30px;
}

#catering_details {

  .datepicker.is-inline {
    display: block;

    .datepicker__wrapper {
      width: 100%;

      .datepicker__daynum {
        font-size: 1.35rem;
        font-family: 'Montserrat';
      }
    }
  }

}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  > div {
    padding: 0.5em;
    border: 1px solid lightgray;
    width: calc(50% - 1em);

    img {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

.plated-meal-order-detail-price {
  float: right;
  display: inline-block;
  padding-left: 1em;
}

.addon,
.notes {
  textarea {
    width: 100%;
    height: 15em;
  }
}