.sliding-form {
  overflow: hidden;

  display: grid;
  grid-template-areas:
          "slide"
          "nav";
  grid-template-rows: calc(100vh - 4em);

  .slide {
    opacity: 0;
    pointer-events: none;
    grid-area: slide;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;


    &.active {
      opacity: 1;
      pointer-events: auto;
    }



  }

  // Hide prev button if first slide is active
  .slide.active:first-of-type ~ .slider-nav-buttons .slide-prev {
    display: none;
  }

  // Hide next button if last slide is active
  .slide.active:last-of-type ~ .slider-nav-buttons .slide-next {
    display: none;
  }

  .slider-nav-buttons {
    display: flex;
    grid-area: nav;
    margin-top: 20px;

    .slider-nav-button {
      border-radius: 5px;
      cursor: pointer;
      background-color: #309e9a;
      color: white;
      margin-right: 10px;
      padding: 10px 25px;
    }
  }
}

.slide-in-right{
  position:relative;
  animation: slide_in_right 0.4s;
}

.slide-out-right{
  position:relative;
  animation: slide_out_right 0.4s;
}

.slide-in-left{
  position:relative;
  animation: slide_in_left 0.4s;
}

.slide-out-left{
  position:relative;
  animation: slide_out_left 0.4s;
}

@keyframes slide_in_left{
  from{
    left:    -100%;
    opacity:  0
  }
  to {
    left:    0;
    opacity:  1
  }
}
@keyframes slide_out_left{
  from{
    left:    0;
    opacity:  1
  }
  to {
    left:    -100%;
    opacity:  0
  }
}
@keyframes slide_in_right{
  from{
    right:    -100%;
    opacity:  0
  }
  to {
    right:    0;
    opacity:  1
  }
}
@keyframes slide_out_right{
  from{
    right:    0;
    opacity:  1
  }
  to {
    right:    -100%;
    opacity:  0
  }
}

#slide1 {
  background: red;
}

#slide2 {
  background: green;
}

#slide3 {
  background: blue;
}

#plated-choose-meal-set,
#plated-choose-entrees,
#plated-choose-hors-doeuvres,
#plated-choose-desserts
{
  justify-content: flex-start;
}